<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Aurelia Navigation Skeleton</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <link rel="icon" href="favicon.ico">
  <link href="https://d12q21h8yjfkpl.cloudfront.net/semantic-288.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet'>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js%22%3E</script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"
    integrity="sha512-t2JWqzirxOmR9MZKu+BMz0TNHe55G5BZ/tfTmXMlxpUY8tsTo3QMD27QGoYKZKFAraIPDhFv56HLdN11ctmiTQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- imported CSS are concatenated and added automatically -->
</head>

<body aurelia-app="main">
</body>

</html>
